[submodule "gtest"]
	path = gtest
	url = ../../google/googletest.git
[submodule "pfunit"]
	path = pfunit
	url = ../../Goddard-Fortran-Ecosystem/pFUnit.git
[submodule "boost/preprocessor"]
	path = boost/preprocessor
	url = ../../boostorg/preprocessor.git
